* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor {
    position: relative;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #282c34;
}

.bomba,
.globo {
    position: absolute;
    cursor: pointer;
    display: flex;
    /* Alinear el contenido (texto) en el centro */
    justify-content: center;
    /* Alinear horizontalmente */
    align-items: center;
    /* Alinear verticalmente */
}

.bomba {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: inset -3px -3px 0px #000, 3px 3px 0px #444;
}

.bomba::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 30px;
    background-color: #999;
    top: -20px;
    border-radius: 50%;
}

.bomba::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    background-color: orange;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    animation: flicker 0.2s infinite alternate;
}

.globo {
    width: 70px;
    height: 90px;
    border-radius: 50% 50% 60% 60%;
    box-shadow: inset -3px -3px 0px rgba(0, 0, 0, 0.2), 3px 3px 0px rgba(255, 255, 255, 0.2);
    display: flex;
    /* Alinear el contenido (texto) en el centro */
    justify-content: center;
    /* Alinear horizontalmente */
    align-items: center;
    /* Alinear verticalmente */
    color: white;
    /* Color del texto */
    font-weight: bold;
    /* Negrita */
    font-size: 16px;
    /* Tamaño de fuente */
    text-shadow: 1px 1px 2px black;
    /* Sombra del texto para mejor legibilidad */
}

.globo::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 15px;
    background-color: #ff4c4c;
    bottom: -10px;
    border-radius: 50%;
}

.globo::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 40px;
    background-color: #999;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

#nombre {
    position: fixed;
    color: white;
}